<!--The content below is only a placeholder and can be replaced.-->
<!-- Nav Bar-->
<div>
  <app-header-componenets></app-header-componenets>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <!--Country Componenets-->
  <!--<app-country-component></app-country-component>-->

  <!--State Components-->
  <!--<app-state-component></app-state-component>-->

  <!-- City Component-->
  <!--<app-city-componenet></app-city-componenet>-->
</div>
<router-outlet></router-outlet>
