<!--The content below is only a placeholder and can be replaced.-->
<!-- Nav Bar-->
<div>
  <app-header-componenets></app-header-componenets>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!--<div>
  &lt;!&ndash;Country Componenets&ndash;&gt;
  <app-country-component></app-country-component>

  &lt;!&ndash;State Components&ndash;&gt;
  <app-state-component></app-state-component>

  &lt;!&ndash; City Component&ndash;&gt;
  <app-city-componenet></app-city-componenet>
</div>
<div>
  <app-input-component></app-input-component>
</div>-->
<router-outlet></router-outlet>
