<div>
    <h2 >Country Details</h2>
    <table border="5" align="center" [ngStyle]="{'font-size': size + 'px'}">
        <thead>
        <!-- Property Binding-->
        <tr [style.background-color] = "'gray'">
            <td><b>No</b></td>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
        </tr>
        </thead>
        <tbody id="table">
        <tr *ngFor="let country of countries">
            <td [style.color] = "'red'">{{ country.id }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.description }}</td>
        </tr>
        </tbody>
    </table>
</div>
<br>

<!-- On Click Event Binding-->
<div>
    <button class="btn btn-primary" (click)="changeColor(tag='gray')">Change Color</button>
    <button (click)="size = size + 1">Zoom Table</button>
    <button (click)="size = size - 1">Zoom Out Table</button>
</div>
